<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>我的博客</title>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <script src="/static/js/vue.js" charset="utf-8"></script>
    <script src="/static/js/reqwest.js" charset="utf-8"></script>
    <script src="/static/js/js.cookie.js" charset="utf-8"></script>
</head>
<body>
        <div id="index">
<!--    顶部导航栏-->
        <div class="top-menu">
            <div class="ui container">
                <div class="ui four column grid">
                    <div v-for='item in topmenu' class="column">
                        [[item.title]]
                    </div>
                </div>
            </div>
        </div>


    <!--    首页幻灯-->
        <div id="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                        <div v-for="item in banner" class="swiper-slide">
                            <img :src="item.img" alt="" style="width:100%;">
                        </div>

                </div>
                <!-- Add Pagination -->

                <!-- Add Arrows -->
        <!--        <div class="swiper-button-next"></div>-->
        <!--        <div class="swiper-button-prev"></div>-->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!--首页功能导航-->
        <div class="nav-btn">
            <div class="ui container">
                <div class="ui four column grid">
                    <div class="column">
                        <img src="/static/icon/chaoka.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/icon_send.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/xingxing.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/iconfont-bi.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/keai.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/muzhi.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/xingxing.png" alt="">
                    </div>
                    <div class="column">
                        <img src="/static/icon/iconfont-bi.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    <!--    首页文章列表-->
        <div class="article-list">
            <div class="ui container">
                <div class="ui centered header">
                    <h2>最新更新</h2>
                </div>

<!--                循环文章列表-->
                {% for item in artical %}
                <div class="article-item">
                    <a class="url" href="/chakan/{{ item.id }}">
                    	<img src="/upload/{{ item.img }}" alt="">
                    	<div class="title">
                        	{{ item.title }}
                      	  <span>{{ item.createtime }}</span>
                    	</div>
                     	<div class="clear"></div>
										</a>
                </div>
                <br/>
                {% endfor %}
            </div>
        </div>
            <br/>
            <br/>
            <br/>
    <!--    底部导航-->
        <div class="tabBar">
            <div class="ui four column grid">
                <div class="column">
                    首页
                </div>
                <div class="column">
                    分类
                </div>
                <div class="column">
                    热门
                </div>
                <div v-if='loginType==false' @click="showUserUI" class="column">
                    登录
                </div>
                <div @click="toadmin()" v-else class="column">
                    我的
                </div>
            </div>
        </div>

            <div  v-show='userUI' id='login'>
                <div class="userUi">
                    <div class="ui container" style="">
                        <h2>登录</h2>
                        <div class="input">
                                                                  <div class="item">
                                <input v-model="username" type="text" name="" value="" placeholder="用户名">
                            </div>
                            <div class="item">
                                <input v-model="password" type="password" name="" value="" placeholder="密码">
                            </div>
                        </div>
                        <button @click="showUserUI()" type="button" name="button">取消</button>
                        <button @click="userLogin()" type="button" name="button"
                        style="background: #ee1919;color: #fff2f2;">确定</button>
                    </div>
                </div>
            </div>
    </div>

    <script type="text/javascript">
        var csrftoken = Cookies.get('csrftoken')
        console.log(csrftoken)
    </script>

    <script src="/static/js/index.js" charset="utf-8"></script>
    <script src="/static/js/swiper.js" charset="utf-8"></script>
    <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      // navigation: {
      //   nextEl: '.swiper-button-next',
      //   prevEl: '.swiper-button-prev',
      // },
    });
  </script>
</body>
</html>
